body{
    padding: 20px;
    font-family: "Michroma", sans-serif;
    font-weight: 800;
    font-style: normal; 
    background-color: #f0eae4;
}

.header{
    background-image: url(headerbg.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.text{
    padding: 10px;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(32, 30, 30);
    margin-right: 35%;
    color:blanchedalmond ;
    font-weight: bold;
}

.main{
    height: 1200px;
    margin-top: 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(54, 53, 51);
}

#catmap{
    height: 100%;
    width: 100%;
   border-radius: 20px;
}